/* src/index.css */

/* 1. Import de la police Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* 2. Reset des marges par défaut */
:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
}


#root {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}